body, html {
  height: 100%;
  margin: 0;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh; /* Đảm bảo form chiếm đủ chiều cao của màn hình */
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}